In [1]:
import pandas as pd
import scipy.stats

In [2]:
DSet=pd.read_csv('general_data.csv')

In [3]:
DSet.head

<bound method NDFrame.head of       Age Attrition     BusinessTravel              Department  \
0      51        No      Travel_Rarely                   Sales
1      31       Yes  Travel_Frequently  Research & Development
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales
4409   40        No      Travel_Rarely  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                   10          1  Life Sciences              1           2
2                   17          4          Other              1           3
3                    2          5  Life Sciences              1           4
4                   10          1        Medical              1           5
...                ...        ...            ...            ...         ...
4405                 5          4        Medical              1        4406
4406                 2          4        Medical              1        4407
4407                25          2  Life Sciences              1        4408
4408                18          2        Medical              1        4409
4409                28          3        Medical              1        4410

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0     Female  ...                 1.0      Y                11              8
1     Female  ...                 0.0      Y                23              8
2       Male  ...                 1.0      Y                15              8
3       Male  ...                 3.0      Y                11              8
4       Male  ...                 4.0      Y                12              8
...      ...  ...                 ...    ...               ...            ...
4405  Female  ...                 3.0      Y                17              8
4406    Male  ...                 2.0      Y                15              8
4407    Male  ...                 0.0      Y                20              8
4408    Male  ...                 0.0      Y                14              8
4409    Male  ...                 0.0      Y                12              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
0                    0               1.0                      6
1                    1               6.0                      3
2                    3               5.0                      2
3                    3              13.0                      5
4                    2               9.0                      2
...                ...               ...                    ...
4405                 1              10.0                      5
4406                 0              10.0                      2
4407                 0               5.0                      4
4408                 1              10.0                      2
4409                 0               NaN                      6

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8
4409              21                        3                     9

[4410 rows x 24 columns]>

In [4]:
DSet['Attrition'].replace(to_replace=('No','Yes'),value=(0,1),inplace=True)

In [5]:
DSet.Attrition

0       0
1       1
2       0
3       0
4       0
       ..
4405    0
4406    0
4407    0
4408    0
4409    0
Name: Attrition, Length: 4410, dtype: int64

In [6]:
from scipy.stats import mannwhitneyu

In [7]:

stats,p=mannwhitneyu(DSet.Attrition,DSet.Age)
print(stats,p)

0.0 0.0

In [8]:
DSet.Attrition

0       0
1       1
2       0
3       0
4       0
       ..
4405    0
4406    0
4407    0
4408    0
4409    0
Name: Attrition, Length: 4410, dtype: int64

In [9]:
DSet1=pd.read_csv("general_data.csv")

In [10]:
DSet2=DSet1.dropna()

In [11]:
from scipy.stats import chi2_contingency

In [12]:
chitable=pd.crosstab(DSet2.Attrition,DSet2.Gender)

In [13]:
chitable

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [14]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

1.3825823839528295 0.23966176275638887

# Hypothesis 1

In [15]:
chitable=pd.crosstab(DSet2.Attrition,DSet2.JobRole)
chitable

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
No,333,135,648,263,381,183,714,810,210
Yes,56,21,125,42,48,54,158,165,36

In [16]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

21.893724958847 0.005116592717526599

# Hypothesis 2

In [17]:
chitable=pd.crosstab(DSet2.Attrition,DSet2.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [18]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

25.89432541916022 2.382970570769315e-06

# Hypothesis 3

In [19]:
chitable=pd.crosstab(DSet2.Attrition,DSet2.BusinessTravel)
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [20]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

70.07594084831366 6.07019702736392e-16

In [21]:
chitable1=pd.crosstab(DSet2.Attrition,DSet2.MaritalStatus)
chitable1

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [22]:
stats,p,dof,expected=chi2_contingency(chitable1)
print(stats,p)

133.85785802925156 8.573051828219379e-30

# Hypothesis 4

In [23]:
chitable=pd.crosstab(DSet2.Attrition,DSet2.EducationField)
chitable

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1505,400,1163,214,347
Yes,32,301,75,222,30,45

In [24]:
stats,p,dof,expected=chi2_contingency(chitable)
stats,p

(43.132860148900384, 3.472896220587872e-08)