# Assignment No 6

Question 1: Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [1]:
email=input('Enter email adddress')
i=email.find('@')
j=email.find('.',i)
print(email[i+1:j])

Enter email adddressamey
ame

Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [2]:
items = input("Input comma separated sequence of words : ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(words))))

Input comma separated sequence of words : Amey,Narayan,1
1,Amey,Narayan

Question 3: Create your own Jupyter Notebook for Sets

In [13]:
st = {"Amey",1,2,3,5,4,34,5,2,23,55,6,"AI-ML","Python","IoT"}

In [14]:
st

{1, 2, 23, 3, 34, 4, 5, 55, 6, 'AI-ML', 'Amey', 'IoT', 'Python'}

In [15]:
#1.pop
st.pop()

1

In [16]:
st

{2, 23, 3, 34, 4, 5, 55, 6, 'AI-ML', 'Amey', 'IoT', 'Python'}

In [17]:
#2.Remove
st.remove("Amey")

In [18]:
st

{2, 23, 3, 34, 4, 5, 55, 6, 'AI-ML', 'IoT', 'Python'}

In [23]:
#3.Add
st.add("LetsUpgrade")

In [20]:
st

{2, 23, 3, 34, 4, 5, 55, 6, 'AI-ML', 'IoT', 'LetsUpgrade', 'Python'}

In [21]:
#4.Update
st.update([10, 11])

In [22]:
st

{10, 11, 2, 23, 3, 34, 4, 5, 55, 6, 'AI-ML', 'IoT', 'LetsUpgrade', 'Python'}

In [24]:
st1 = {"Amey", "Ganekar",2, 4, 5, 6}
st2 = {"Om", "Narayan", "Nilakshi",7, 8, 9, 10}

In [25]:
#5.Union
print("st U st1 : ", st.union(st1))

st U st1 :  {'Ganekar', 2, 3, 4, 5, 6, 'AI-ML', 'IoT', 'LetsUpgrade', 10, 11, 'Amey', 23, 34, 'Python', 55}

In [26]:
print("st1 U st2 : ", st1|st2)

st1 U st2 :  {'Ganekar', 2, 4, 5, 6, 'Om', 7, 8, 9, 'Amey', 10, 'Nilakshi', 'Narayan'}

In [27]:
print("st U st1 U st2 : ", st|st1|st2)

st U st1 U st2 :  {'Ganekar', 2, 3, 4, 5, 6, 'AI-ML', 'IoT', 'LetsUpgrade', 10, 11, 'Amey', 'Om', 7, 8, 9, 'Nilakshi', 23, 34, 'Python', 'Narayan', 55}

In [28]:
#6.Difference
print("st - st1 : ", st.difference(st1))

st - st1 :  {34, 3, 'AI-ML', 'Python', 'LetsUpgrade', 'IoT', 10, 11, 23, 55}

In [29]:
#7.Substract
print("st - st1 : ", st - st1)

st - st1 :  {34, 3, 'AI-ML', 'Python', 'LetsUpgrade', 'IoT', 10, 11, 23, 55}

In [30]:
#8.And
print("st & st1 : ", st & st1)

st & st1 :  {2, 4, 5, 6}

In [31]:
#9.Or
print("st or st1 : ", st or st1)

st or st1 :  {2, 3, 4, 5, 34, 6, 'AI-ML', 'Python', 'IoT', 'LetsUpgrade', 10, 11, 55, 23}

Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [3]:
import functools
from functools import reduce
n =int(input("Enter range"))
l=[]
print("Enter values in between 1 and ", n)
for i in range(1,n):
    if(i<=n):
        a=int(input())
        l.append(a)
print("missing value is:",int(n*(n+1)/2)-reduce(lambda a,b:a+b,l))

Enter range6
Enter values in between 1 and  6
4
5
6
3
2
missing value is: 1

Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved

In [4]:

l = [12,125,88,12,55,24,88,78,66,55]
D=[]
for i in l:
    if i not in D:
        D.append(i)
print("After removing all duplicate values with original order reserved\n",D)

After removing all duplicate values with original order reserved
 [12, 125, 88, 55, 24, 78, 66]