#  Assignment No 16 - 17

In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [16]:
cast = pd.read_csv('cast.csv')
cast.head()

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

In [4]:
cast = pd.read_csv('release_dates.csv')
cast.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

How many movies are listed in the titles dataframe?

In [5]:
print("Total number movies listed in the dataframe are:")
len(titles)

Total number movies listed in the dataframe are:

244914

What are the earliest two films listed in the titles dataframe?

In [6]:
titles.sort_values(by=['year']).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

How many movies have the title "Hamlet"?

In [7]:
print("Total number of movies with title Hamlet are:")
len(titles[titles['title']=='Hamlet'])

Total number of movies with title Hamlet are:

20

How many movies are titled "North by Northwest"?

In [8]:
print("Total number of movies with title North by Northwest are:")
len(titles[titles['title']=='North by Northwest'])

Total number of movies with title North by Northwest are:

1

When was the first movie titled "Hamlet" made?

In [9]:
print("The first movie titled Hamlet was made in the following year:")
titles[titles['title']=='Hamlet'].sort_values(by=['year']).head(1).year

The first movie titled Hamlet was made in the following year:

52521    1910
Name: year, dtype: int64

List all of the "Treasure Island" movies from earliest to most recent

In [10]:
print("List of all Treasure Island movies form earliest to most recent are:")
titles[titles['title']=='Treasure Island'].sort_values(by=['year'])

List of all Treasure Island movies form earliest to most recent are:

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

How many movies were made in the year 1950?

In [11]:
print("Total number of movies made in the year 1950 are:")
len(titles[titles['year']==1950])

Total number of movies made in the year 1950 are:

1113

How many movies were made in the year 1960?

In [12]:
print("Total number of movies made in the year 1960 are:")
len(titles[titles['year']==1960])

Total number of movies made in the year 1960 are:

1549

How many movies were made from 1950 through 1959?

In [13]:
print("Total number of movies made from 1950 to 1959 are:")
len(titles[(titles['year']>=1950)&(titles['year']<=1959)])

Total number of movies made from 1950 to 1959 are:

12934

In what years has a movie titled "Batman" been released?

In [14]:
print("The years in which movie titled Batman has been released are:")
(titles[titles['title']=='Batman']).year

The years in which movie titled Batman has been released are:

39349     1943
240896    1989
Name: year, dtype: int64

How many roles were there in the movie "Inception"?

In [15]:
print("The number of roles in the movie Inception are:")
print(len(cast[cast['title']=='Inception'].type))
print("The roles are displayed below:")
cast[cast['title']=='Inception']

The number of roles in the movie Inception are:

AttributeError: 'DataFrame' object has no attribute 'type'

How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
print("The number of roles in the movie Inception not ranked by n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)].type))
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)]

But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
print("The number of roles in the movie Inception with n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==False)].type))
print("The roles are displayed below:")
cast[(cast['title']=='Inception')&(cast['n'].isnull()==False)]

Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
print("The cast of North by Northwest in their correct n-value order value with n values are:")
print(cast[(cast['title']=="North by Northwest")&(cast['n'].isnull()==False)].sort_values(by=['n']).name)
print("The cast is displayed below:")
cast[(cast['title']=="North by Northwest")&(cast['n'].isnull()==False)].sort_values(by=['n'])

Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [ ]:
print("The entire cast of 1972 film Seluth order by n value is:")
print((cast[(cast['title']=="Sleuth")&(cast['year']==1972)]).sort_values(by=['n']).name)
print("The entire cast is displayed below:")
cast[(cast['title']=="Sleuth")&(cast['year']==1972)].sort_values(by=['n'])

Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
print("The entire cast of 2007 film Seluth order by n value is:")
print(cast[(cast['title']=="Sleuth")&(cast['year']==2007)].sort_values(by=['n']).name)
print("The entire cast is displayed below:")
cast[(cast['title']=="Sleuth")&(cast['year']==2007)].sort_values(by=['n'])

How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
print("The number of roles that were credited in the silent 1921 version of Hamlet are:")
print(len(cast[(cast['title']=='Hamlet')&(cast['year']==1921)]))
print("The roles are displayed below:")
cast[(cast['title']=='Hamlet')&(cast['year']==1921)]

How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [ ]:
print("The number of roles that were credited in the Branagh's 1996 Hamlet are:")
print(len(cast[(cast['title']=='Hamlet')&(cast['year']==1996)]))
print("The roles are displayed below:")
cast[(cast['title']=='Hamlet')&(cast['year']==1996)]

How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
print("The number of Hamlet roles that have been listed in all film credits throughout the history are:")
print(len(cast[(cast['title']=='Hamlet')]))
print("The roles are displayed below:")
cast[(cast['title']=='Hamlet')]

How many people have played an "Ophelia"?

In [ ]:
print("The number of people who played Ophelia are:")
print(len(cast[cast['character']=='Ophelia']))
print("The names are listed below:")
cast[cast['character']=='Ophelia'].name

How many people have played a role called "The Dude"?

In [ ]:
print("The number of people who played The Dude are:")
print(len(cast[cast['character']=='The Dude']))
print("The names are listed below:")
cast[cast['character']=='The Dude'].name

How many people have played a role called "The Stranger"?

In [ ]:
print("The number of people who played The Stranger are:")
print(len(cast[cast['character']=='The Stranger']))
print("The names are listed below:")
cast[cast['character']=='The Stranger'].name

How many roles has Sidney Poitier played throughout his career?

In [ ]:
print("The number of roles played by Sidney Poitier are:")
print(len(cast[cast['name']=='Sidney Poitier']))
print("The roles are displayed below:")
cast[cast['name']=='Sidney Poitier']

How many roles has Judi Dench played?

In [ ]:
print("The number of roles played by Judi Dench are:")
print(len(cast[cast['name']=='Judi Dench']))
print("The roles are displayed below:")
cast[cast['name']=='Judi Dench']

List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
("The list of supporting roles played by Cary Grant in 1940's ordered by year are:")
cast[(cast['name']=='Cary Grant')&(cast['n']==2)&(cast['year']>=1940)&(cast['year']<=1949)].sort_values(by=['year'])

List the leading roles that Cary Grant played in the 1940s in order by year

In [ ]:
print(" List the leading roles that Cary Grant played in the 1940s ordered by year are:")
cast[(cast['name']=='Cary Grant')&(cast['n']==1)&(cast['year']>=1940)&(cast['year']<=1949)].sort_values(by=['year'])

How many roles were available for actors in the 1950s?

In [ ]:
print("The number of roles available for actors in 1950s are:")
print(len(cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actor')].type))

How many roles were available for actresses in the 1950s?

In [ ]:
print("The number of roles available for actresses in 1950s are:")
print(len(cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actress')].type))

How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
print("The number of leading roles available from the beginning of film history through 1980 are:")
print(len(cast[(cast['year']<=1980)&(cast['n']==1)].type))

How many non-leading roles were available through from the beginning of film history through 1980?

In [ ]:
print("The number of non-leading roles available from the beginning of film history through 1980 are:")
print(len(cast[(cast['year']<=1980)&(cast['n']!=1)].type))

How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [ ]:
print("The number of roles through 1980 that were minor enough and did not warrant a numeric n rank are:")
print(len(cast[(cast['year']==1980)&(cast['n'].isnull()==True)]))